<ion-tabs>
  <ion-tab-bar slot="bottom" mode="ios">

    <ion-tab-button tab="costs" href="/z/costs">
      <ion-icon aria-hidden="true" name="cash"></ion-icon>
      <ion-label>Gastos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="balances" href="/z/balances">
      <ion-icon aria-hidden="true" name="wallet"></ion-icon>
      <ion-label>Ingresos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="home" href="/z/home">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="payment-methods" href="/z/payment-methods">
      <ion-icon aria-hidden="true" name="card"></ion-icon>
      <ion-label>Métodos de Pago</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="category" href="/z/category">
      <ion-icon aria-hidden="true" name="apps-outline"></ion-icon>
      <ion-label>Categorías</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>