<app-header
  tittle="Categorías"
  (addEvent)="newCategory()"
  [viewAddButton]="viewAddButton">
</app-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="loadData($event)">
      <ion-refresher-content refreshingSpinner="bubbles">
      </ion-refresher-content>
  </ion-refresher>

  <ion-grid class="animate__animated animate__fadeIn" *ngIf="!viewAddButton">
    <ion-row>
        <ion-col>
            <ion-label color="danger">
              Ya no puedes crear mas categorías por que tienes 100, actualiza alguna que no estes usando.
            </ion-label>
        </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card *ngFor="let item of categories" style="margin-bottom:6%;" class="animate__animated animate__fadeIn">
    <ion-card-header [color]="item.color">
        <ion-card-title>
            <ion-icon [name]="item.icon"></ion-icon>
            {{item.name}} <small style="color: red;" *ngIf="!item.active"><b>BLOQUEADO</b></small>
        </ion-card-title>
    </ion-card-header>
    <ion-card-content style="margin-top: 3%; text-align: justify;" *ngIf="item.description">
        {{(item.description ? item.description : '')}}
    </ion-card-content>
    <ion-item>
        <ion-button color="success" fill="outline" slot="end" (click)="unlockCategory(item)" *ngIf="!item.active">Desbloquear</ion-button>
        <ion-button color="danger" fill="outline" slot="end" (click)="lockCategory(item)" *ngIf="item.active">Bloquear</ion-button>
        <ion-button color="warning" fill="outline" slot="end" (click)="editCategory(item)">Editar</ion-button>
    </ion-item>
  </ion-card>

  <ion-grid class="text-center-jdb animate__animated animate__fadeIn" *ngIf="categories.length === 0 && !loading">
    <ion-row>
        <ion-col>
            <ion-label color="medium">
                No hay ninguna categoría registrada
            </ion-label>
        </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="categories.length === 0 && loading" class="animate__animated animate__fadeIn">
    <div class="ion-padding custom-skeleton" *ngFor="let x of [{}, {}, {}, {}, {}, {}, {}, {}]">
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        <ion-skeleton-text animated></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
    </div>
  </div>
</ion-content>
