<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-title>Categorías</ion-title>
        <ion-buttons slot="primary">
            <ion-button>
                <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
    <ion-virtual-scroll [items]="items" approxItemHeight="320px" *ngIf="items.length > 0 && !loading" class="animate__animated animate__fadeIn">
        <ion-card *virtualItem="let item">
            <ion-card-header [color]="item.color">
                <ion-card-title>
                    <ion-icon [name]="item.icon"></ion-icon>
                    {{item.name}}
                </ion-card-title>
            </ion-card-header>
            <ion-card-content style="margin-top: 3%; text-align: justify;" *ngIf="item.description">
                {{item.description}}
            </ion-card-content>
        </ion-card>
    </ion-virtual-scroll>

    <ion-grid class="text-center-jdb animate__animated animate__fadeIn" *ngIf="items.length === 0 && !loading">
        <ion-row>
            <ion-col>
                <ion-label color="medium">
                    No hay ninguna categoría registrada
                </ion-label>
            </ion-col>
        </ion-row>
    </ion-grid>
    <div *ngIf="items.length === 0 && loading" class="animate__animated animate__fadeIn">
        <div class="ion-padding custom-skeleton" *ngFor="let x of [{}, {}, {}, {}, {}]">
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            <ion-skeleton-text animated></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </div>
    </div>
</ion-content>